.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  color: #f1f1f1;
  transition: opacity 0.5s linear;
}
.footer__column-link:hover {
  opacity: 40%;
}
