.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 0.5s linear;
}
.feynman__link:hover {
  opacity: 40%;
}
