.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__paragraph:last-child {
  padding-bottom: 0;
}
